.right-side{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.nav-icons{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  > img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.right-share-button{
  height: 3rem;
  width: 80%;
  align-self: center;
}
