.profile-card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 1.5rem;
  gap: 1rem;
  overflow-x: clip;
  background: var(--cardColor);
}
.profile-img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img:nth-of-type(1){
   width: 100%;
  }
  img:nth-of-type(2) {
    width: 6rem;
    border-radius: 50%;
    position: absolute;
    bottom: -3rem;
    box-shadow: var(--profileShadow);
  }
}
.profile-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 10px;
  span:nth-of-type(1){
    font-weight: bold;
  }
  span:nth-of-type(2){
  
  }
}
//Follow Status
.follow-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  > hr {
    width: 85%;
    border: 1px solid var(--hrColor);
  }
  > div {
    display: flex;
    gap: 1rem;
    width: 80%;
    justify-content: space-around;
    align-items: center; // to fix vertical line bug
  }
}
.follow {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  > span:nth-of-type(1) {
    font-weight: bold;
  }
  > span:nth-of-type(2) {
    color: var(--gray);
    font-size: 13px;
  }
}
.vl {
  height: 150%;
  border-left: 2px solid var(--hrColor);
}
.my-profile {
  font-weight: bold;
  color: orange;
  align-self: center;
  margin-bottom: 1rem;
  cursor: pointer;
}
